# Build output
dist/
build/

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
